* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
/*Um caso de CSS3 onde devemos escrever a regra para cada navegador. Nao importa a sequencia, basta que o ultimo seja o generico.*/

/* com "box-sizing: border-box" nada pode modificar o width, principalmente bording e padding*/ 

html, body, div, section, figure, article, p, h1, h2, h3, h4, h5, h6, ul, ol, hr, li, a, img, strong, em, span, form, input, textarea, label, button {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: inherit;
}
a, a:active, a:focus, a:checked a:hover{
    text-decoration: none;
    color: #272727;
}
ul, ol{
    list-style-type: none; 
}
img {
    border: none;
}
input, textarea, button, select {
    background-color: transparent;
    border: none;
    display: block;
    width: 100%;
    outline: none;
    box-shadow: none;
}
input:focus, textarea:focus, select:focus{
    outline: none;
    box-shadow: none;
}
textarea{
    resize: none; /*nao pode mudar o tamanho*/
}
button{
    cursor: pointer;
}

