:root{
  --green: #56B280;
  --black: #272727;
  --white: #ffffff;
  --dark-1: rgba(94, 110, 137, 1);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');
*{
  transition: all .3s ease-in;
  scroll-behavior: smooth;
}
p,a,span, label{
  font: 500 16px/28px "Roboto", Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6, blockquote, figcaption {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.container{
  max-width: 1111px;
  margin: 0 auto;
}
.btn{
  cursor: pointer;
  color: var(--white);
  background-color: var(--green);
  border-radius: 4px;
  font-size: 21px;
  line-height: 1.17em;
  padding: 8px 0;
}
.mobile_only{
  display: none;
}
.clear{
  clear: both;
}

/* HEADER SECTION */
header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background: var(--white);
  border-bottom: .5px solid rgba(86, 178, 128, 0.2);
}
.topbar .material-icons-outlined{
  font-size: 25px;
}
.topbar {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar h1{
  line-height: 0;
}
.menu-hamburger{
  display: none;
  width: 32px;
  height: 17px;
}
.menu-hamburger span{
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--black);
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li{
  width: 130px;
  margin: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li:first-child a::before{
  content: "⌄";
  position: absolute;
  left: 500px;
  top: 20px;
  font-size: 20px;
}
nav li a{
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
}
nav li:first-child a::before{
  content: "⌄";
  position: absolute;
  left: 110px;
  top: -8px;
  font-size: 20px;
}

/* MAIN SECTION */
/* Top Banner */

.top_banner{
  height: 780px;
  background: url(../img/bg-image.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_banner .box{
  width: 730px;
  height: 349px;
  margin-top: 84px;
  background-color: rgba(247, 248, 250, 0.8);
  backdrop-filter: blur(24px); /* Não é aceito no firefox */
  border-radius: 2px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.top_banner .box h1{
  font-size: 40px;
  line-height: 1.44em;
}
.top_banner .box h2{
  display: block;
  max-width: 537px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.42em;
}
.top_banner button{
  width: 310px;
  margin-top: 53px;
}

/* PRODUCTS */
.main_product_title{
  font-size: 40px;
  line-height: 1.44em;
  letter-spacing: -.9px;
  text-align: center;
  margin-top: 90px;
}
.sub_product_title{
  font-size: 18px;
  line-height: 1.53em;
  letter-spacing: 1.1px;
  color: var(--dark-1);
  text-align: center;
  margin-bottom: 50px;
}
.prateleira{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.prateleira button{
  width: 173px;
  margin: 54px auto;
}
.produto{
  width: 255px;
  margin-bottom: 30px;
  background-color: #F7F8FA;
  border-radius: 4px;
  box-shadow: 0 4px 24px 0 rgba(123, 123, 123, 0.15);
}
.produto:hover{
  transform:translate(0, -20px) ;
}
.produto .img_produto{
  width: 100%;
  height: 154px;
}
.produto .img_produto1{
  background: url(../img/prod1.png);
}
.produto .img_produto2{
  background: url(../img/prod3.png);
}
.produto .img_produto3{
  background: url(../img/prod5.png);
}
.produto .img_produto4{
  background: url(../img/prod7.png);
}
.produto .img_produto5{
  background: url(../img/prod2.png);
}
.produto .img_produto6{
  background: url(../img/prod4.png);
}
.produto .img_produto7{
  background: url(../img/prod6.png);
}
.produto .img_produto8{
  background: url(../img/prod8.png);
}
.produto h3{
  font-size: 16px;
  line-height: 1.44em;
  letter-spacing: -.9px;
}
.produto p{
  text-align: right;
  font-size: 20px;
  line-height: 1.44em;
  letter-spacing: -.9px;
  color: var(--green);
}
.produto div{
  padding: 10px 26px 16px;
  background-color: var(--white);
}
.products-mobile{
  display: none;
} 

/* LEARN MORE */
.learn-more{
  background-color: rgba(247, 248, 250, 1);
  padding: 130px 0;
}
.learn-more .container div{
  width: 50%;
}
.learn-more ul{
  margin-top: 40px;
}
.learn-more h2{
  display: block;
  width: 350px;
  font-size: 40px;
  line-height: 1.44em;
  letter-spacing: -.9px;
}
.learn-more h4{
  font-size: 16px;
  line-height: 1.44em;
  color: var(--green);
}
.learn-more ul li{
  list-style-image: url(../img/Group.png);
  list-style-position: inside;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: 10px;
}
.learn-more ul li span{
  font-weight: 500;
}
.learn-more .container{
  position: relative;
}
.learn-more figure{
  position: absolute;
  right: 0;
  top: 0;
}
.learn-more button{
  width: 194px;
  margin-top: 68px;
}

/* TESTIMONIALS */
.testimonials{
  overflow: hidden;
  background-color: rgba(86, 178, 128, 0.1);
}
.people-stars-row{
  width: 1111px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 89px;
}
.people-stars-row .people-stars{
  background-color: var(--white);
  width: 350px;
  box-shadow: 0px 4px 24px rgba(139, 167, 178, 0.16);
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 33px;
}
.people-stars blockquote{
  display: block;
  font-size: 22px;
  line-height: 28.8px;
  font-weight: 500;
  max-width: 304px;
  margin-top: 22px;
}
.people-stars cite{
  font-size: 18px;
  line-height: 20.7px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-top: 6px;
  margin-bottom: 29px;
  color: rgba(124, 128, 135, 1);
}

/* POPULAR */
.popular .prateleira{
  margin-bottom: 40px;
}

/* FOOTER */
footer{
  background-color: var(--black);
  padding-top: 60px;
  position: relative;
  background-image: url(../img/codeblue32.png);
}
footer article.container{
  border-top: 1px solid var(--white);
  padding-top: 15px;
  display: flex;
}
footer figure{
  width: 50%;
}
footer .code{
  margin-top: 30px;
  width: 30%;
  opacity: .1;
  filter: grayscale(1);
}
footer figcaption{
  font-size: 16px;
  line-height: 22.8px;
  letter-spacing: -.5px;
  font-weight: 400;
  color: var(--white);
  display: block;
  width: 250px;
}
.menu-footer{
  margin-top: 43px;
  padding-bottom: 192px;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.menu-footer ul{
  width: 33%;
}
.menu-footer ul li{
  margin-bottom: 25px;
}
.menu-footer ul li:first-child{
  color: var(--green);
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}
.menu-footer a{
  color: var(--white);
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}
.bottonbar{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  background-color: var(--white);
}
.bottonbar .container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottonbar .container h4{
  font-weight: 400;
}
.bottonbar .container h4:last-child{
  text-align: right;
}
.bottonbar .container h4 a:hover{
  color:var(--green);
}

/* PAGINA PRODUTO */
main.product{
  padding-bottom: 114px;
}
main.product article.container{
  display: flex;
  margin-top: 130px;
}
main.product figure, .add-to-cart{
  width: 48.75%;
}
main.product figure{
  margin-right: 2.5%;
}

main.product figure img{
  width: 100%;
}
main.product figure img:hover{
  filter: saturate(200%) contrast(110%);;
}
.add-to-cart h2, .add-to-cart h3, h2.mobile_only{
  font-size: 26px;
  line-height: 57.6px;
  letter-spacing: -.9px;
}
.add-to-cart h3{
  color: var(--green);  
}
.add-to-cart h4{
  font: 400 18px/25.6px "Roboto", Helvetica, Arial, sans-serif;
  letter-spacing: -.9px;
  text-align: center;
}
.add-to-cart input{
  width: 16px;
  height: 16px;
  margin-right: 20px;
}
main.product figcaption, main.product figure h3{
  font-size: 20px;
  line-height: 25.6px;
  letter-spacing: -.9px;
  text-align: center;
  margin-top: 22px;
}
main.product figure h3{
  color: var(--green);
}
.left-column{
  width: 190px;
  float: left;
}
.left-column .quantity{
  width: 75px;
}
.left-column .counter{
  display: flex;
  justify-content: space-evenly;
  height: 30px;
  border: 1px solid var(--green);
}
.left-column .counter p:first-child, .left-column .counter p:last-child{
  color: var(--green);
  cursor: pointer;
}
p.alert-negative, p.alert-out{
  display:none;
  font-size: 12px;
  color: #d00;
  line-height: 14px;
  margin-top: 5px;
}
.right-column{
  width: 350px;
  float: left;
}
.right-column div{
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 20px 10px 20px 20px ;
  border: 1px solid rgb(161, 161, 161, 0);
}
.right-column div.active{
  border: 1px solid rgb(161, 161, 161);
}
.right-column div p, .right-column div p a{
  font: 400 14px/15.6px "Helvetica", Arial, sans-serif;
  color: #818181;
  margin-top: 10px;
}
.right-column div p a{
  color: var(--green);
}
.right-column label{
  font-weight: 400;
  line-height: 15.6px;
  letter-spacing: -.9px;
  width: 60%;
}
.right-column select{
  width: 25%;
  float: right;
  border: 1px solid var(--black);
}
.add-to-cart button{
  width: 350px;
  margin-top: 67px;
  margin-left: 190px;
  font-size: 20px;
  line-height: 23px;
}
.add-to-cart button span{
  font-size: 20px;
  line-height: 23px;
}
.add-to-cart .product-description{
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  margin-top: 40px;

}
.add-to-cart .product-description p{
  font-weight: 400;
  color: #818181;
}
.add-to-cart .product-description span{
  color: #1D252C;
}






/* MEDIA QUERIES */



@media screen and (max-width: 376px){
  .mobile_only {
    display: block;
  }
  /* HEADER SECTION */
  .container{
    margin: 0 15px;
  }
  .topbar {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topbar h1{
    order: 2;
  }
  nav{
    order: 1;
    position: relative;
    z-index: 3;
  }
  .menu-hamburger{
    display: flex;
    flex-wrap: wrap;
  }
  .menu-hamburger span:nth-child(1).active{
    transform: rotate(45deg) translate(2px,4px);
  }
  .menu-hamburger span:nth-child(2).active{
    opacity: 0;
  }
  .menu-hamburger span:nth-child(3).active{
    transform: rotate(-45deg) translate(4px,-5px)
  }
  nav ul{
    flex-flow: column;
    align-items: flex-start;
    position: absolute;
    bottom: -30px;
    left: -15px;
    opacity: 0;
    width: 375px;
    background-color: var(--white);
    padding-left: 63px;
    z-index: 1;
  }
  nav li:first-child a::before{
    left: -25px;
    top: -7px;
  }
  nav ul a{
    text-align: left;
    font-size: 24px;
    line-height: 28.13px;
    margin-bottom: 20px;
  }
  nav ul.active{
    bottom: -175px;
    opacity: 1;
  }
  .topbar>div{
    order: 3;
  }

/* MAIN SECTION MOBILE*/
/* Top Banner */
  .top_banner{
    background-image: url(../img/bg-image.png);
  }
  .top_banner .box{
    height: auto;
  }
  .top_banner .box img{
    margin-top: 41px;
  }
  .top_banner .box h1{
    line-height: 1.19em;
  }
  .top_banner button{
    margin-top: 35px;
    margin-bottom: 43px;
  }

  /* PRODUCTS */
  .prateleira a {
    width: 100%;
  }
  .m-hide{
    display: none;
  }
  .see_more.active{
    display: none;
  }
  .produto{
    width: 100%;
  }
  .produto .img_produto{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
  .produto div {
    padding: 7px 26px 10px;
  }
  .produto h3, .produto p{
    line-height: 1.1em;
  }
  .products-mobile{
    display: block;
  } 

  /* Learn More */
  .learn-more{
    overflow: hidden;
    padding: 119px 0 0;
  }
  .learn-more .container div{
    width: 100%;
  }
  .learn-more h2{
    text-align: center;
  }
  .learn-more h4{
    text-align: center;
  }
  .learn-more ul{
    margin-top: 340px;
  }
  .learn-more figure{
    position: absolute;
    width: 100%;
    right: 0;
    top: 150px;
  }
  .learn-more figure img{
    width: 100%;
  }
  .learn-more ul li{
    margin-left: 20px;
    list-style-position: outside;
    line-height: 1.2em;
  }
  .learn-more button{
  margin: 50px auto 40px;
  }

  /*TESTIMONIALS*/
  .people-stars-row{
    width: 850px;
  }
  .people-stars-container{
    overflow: scroll;
  }
  .people-stars-row .people-stars{
    width: 267px;
    padding-top: 25px;
  }
  .people-stars blockquote{
    font-size: 19px;
    line-height: 25.39px;
    margin-top: 16px;
  }
  .people-stars cite{
    font-size: 15.86px;
    line-height: 28.24px;
    margin-top: 4px;
    margin-bottom: 22px;
  }
  .people-stars .foto img{
    display: block;
    width: 80%;
    margin: auto;
  }
  .people-stars .stars{
    margin-top: 10px;
  }
  /* POPULAR */
  .popular {
    display: none;
  }

  /* FOOTER */
  footer article.container{
    flex-flow: column;
  }
  footer figure{
    width: 100%;
  }
  footer figure img{
    display: block;
    width: 141px;
  }
  footer figcaption{
    width: 100%;
  }
  .menu-footer{
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 122px;
  }
  .menu-footer ul{
    width: 50%;
  }
  .menu-footer ul:nth-of-type(2){
    order: 1;
  }
  .menu-footer ul li{
    margin-bottom: 15px;
  }
  .menu-footer ul li:first-of-type{
    margin-bottom: 25px;
  }
  .menu-footer ul li:last-of-type{
    margin-bottom: 40px;
  }
  .bottonbar .container{
    flex-wrap: wrap;
    justify-content: center;
  }


  /* PÁGINA PRODUTO*/
  .add-to-cart h2{
    display: none;
  }
  main.product article.container{
    flex-flow: column;
  }
  main.product figure, .add-to-cart{
    width: 100%;
  }
  main.product figcaption, main.product figure h3{
    display: none;
  }
  .left-column {
    width: 100%;
    display: flex;
  }
  .left-column h3{
    width: 50%;
  }
  .add-to-cart button{
    width: 100%;
    margin-top: 67px;
    margin-left: unset;
    font-size: 20px;
    line-height: 23px;
  }
}